#banner img {
  width: 100vw;
  height: 35vh;
  margin-top: 16vh;
}

.categories {
  z-index: 10;
  width: 100vw;
  height: 50vh;
  position: relative;
}

.image {
  position: absolute;
  width: 30vw;
}

.text {
  position: absolute;
  text-decoration: none;
  margin-top: 12vh;
  margin-right: 8vw;
  font-size: 4vw;
}

.food {
  right: 10vw;
  top: 5vh;
}

.drink {
  width: 28vw;
  left: 10vw;
  top: 5vh;
}

.personal-care {
  top: 30vh;
  left: 60vw;
}

.home-care {
  top: 30vh;
  left: 11vw;
}

.personal {
  margin-left: 2vw;
}

.drinks {
  margin-left: 7vw;
}
