.subcategories {
  position: fixed;
  top: 16vh;
  width: 100vw;
  height: 7vh;
  background-color: rgba(2,88,128, .2);
  box-shadow: inset 0 0 40px rgb(2,88,128);
}

.subcategories a {
  position: relative;
  background-color: rgb(2,88,128);
  padding: 1vw 3vw;
  border-radius: 100vw;
  color: #fff;
  text-decoration: none;
  top: 2vh;
  left: 6vw;
  margin-right: 5vw;
  font-size: 3.5vw;
}

.product_detail {
  width: 100vw;
  height: 80vh;
  margin-top: 30vh;
}

.product_detail h1 {
  font-size: 7vw;
  text-align: center;
}

.product_detail img {
  width: 80vw;
  margin-left: 10vw;
}

.price {
  text-align: center;
  font-size: 8vw;
  color: rgb(8,128,128);
  direction: rtl;
}

h2 {
  font-size: 4vw;
  font-weight: normal;
  text-align: right;
  direction: rtl;
  margin-right: 8vw;
}

form input {
  background-color: rgb(2,88,128);
  color: #fff;
  border-radius: 100vw;
  border: none;
  padding: 1vh 5vw;
}

form {
  margin-left: 20vw;
}
