{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block css %}
    {% endblock %}
    <meta charset="utf-8">
    <title>{% block title %}سوپرمارکت اینترنتی پلنوم{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/image/icon/icon.png' %}">
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v20.1.0/dist/font-face.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div id="cart">
        <a href="{% url "cart:cart_detail" %}">
          <p><span id="cart_items">{{ cart|length }}</span>سبد خرید</p>
        </a>
      </div>
      <a href="{% url "planome:home_page" %}" id="logo"><img src="{% static "media/image/logo/logo.png" %}" alt="planome logo"></a>
      {% if customer %}
        <a href="{% url "customer:customer_management" %}" id="register">{{ customer }}</a>
      {% else %}
        <a href="{% url "customer:customer_authenticate" %}" id="register">ورود / ثبت‌نام</a>
      {% endif %}
    </div>
    <form id="subheader" action="{% url "search:search_form" %}" method="post">
      {% csrf_token %}
      <input id="searchBox" type="text" name="search_unit" value="{{ search_term }}" placeholder="       کالای مورد نظر را جستجو نمایید">
      <input id="searchButton" type="submit" name="submit" value="جستجو"/>
    </form>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="features">
      <i class="fas fa-history features-icon-list"></i>
      <p class="features-text-list" id="reject-product">ضمانت بازگشت کالا تا 24 ساعت</p>
      <i class="fas fa-angle-left features-list-arrow"></i>
      <i class="fas fa-money-check-alt features-icon-list"></i>
      <p class="features-text-list">امکان پرداخت در محل پس از دریافت سفارش</p>
      <i class="fas fa-angle-left features-list-arrow"></i>
      <i class="fas fa-truck features-icon-list"></i>
      <p class="features-text-list" id="free-shipping">ارسال رایگان برای خریدهای بیشتر از پنجاه هزار تومان</p>
      <i class="fas fa-angle-left features-list-arrow"></i>
    </div>
    <div id="footer">
      <a href="#"><i class="fab fa-instagram hollow social"></i></a>
      <a href="#"><i class="fab fa-twitter hollow social"></i></a>
      <a href="#"><i class="fab fa-linkedin hollow social"></i></a>
      <a href="#"><i class="fas fa-envelope hollow social"></i></a>
      <hr>
      <a class="footer-textlink" href="#">سوالات متداول</a>
      <a class="footer-textlink" href="#">شرایط استفاده</a>
      <a class="footer-textlink" href="#">حریم خصوصی</a>
      <a class="footer-textlink" href="#">درباره پلنوم</a>
    </div>
    <script src="https://kit.fontawesome.com/a5a2f71d48.js"></script>
    <script src="{% static "js/base.js" %}"></script>
  </body>
</html>
