{% extends "shop/base.html" %}
{% load static %}

{% block css %}
  <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="banner">
    <img src="{% static "media/image/banner/healthy-eating-life-style.png" %}" alt="healthy eating life style">
  </div>
  <div class="categories">
    {% for category in categories %}
      <div class="category">
        <a href="{{ category.get_absolute_url }}"><img src="{% static "media/image/categories/"|add:category.slug|add:".jpg" %}" alt="{{ category.slug }} icon"></a>
        <a class="text" href="{{ category.get_absolute_url }}">{{ category }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
