{% extends "shop/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "/css/subcategory_list.css" %}">
{% endblock %}

{% block title %}
  {{ category.name }} | سوپرمارکت اینترنتی پلنوم
{% endblock %}

{% block content %}
  <div class="subcategories">
    {% for subcategory in subcategories %}
      {% if forloop.counter|divisibleby:2 %}
        <a href="{{ subcategory.get_absolute_url }}"><img class="subcategory-left image" src="{% static "media/image/subcategories/"|add:subcategory.slug|add:".png" %}" alt="تصویری از {{ subcategory.name }}"></a>
        <a class="subcategory-left text" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
      {% else %}
      <a href="{{ subcategory.get_absolute_url }}"><img class="subcategory-right image" src="{% static "media/image/subcategories/"|add:subcategory.slug|add:".png" %}" alt="تصویری از {{ subcategory.name }}"></a>
      <a class="subcategory-right text" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
