{% extends "shop/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "/css/subcategory_list.css" %}">
{% endblock %}

{% block title %}
  {{ category.name }} | سوپرمارکت اینترنتی پلنوم
{% endblock %}

{% block content %}
  <div class="subcategories">
    {% for subcategory in subcategories %}
      <div class="subcategory">
        <a href="{{ subcategory.get_absolute_url }}"><img src="{% static "media/image/subcategories/"|add:subcategory.slug|add:".png" %}" alt="تصویری از {{ subcategory.name }}"></a>
        <a class="text" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
