{% extends "shop/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "/css/customer_management.css" %}">
{% endblock %}

{% block title %}
  ثبت نام | سوپرمارکت اینترنتی پلنوم
{% endblock %}

{% block content %}
  <a class="exit" href="/customer/exit">خروج از حساب کاربری</a>
  <table>
    <thead>
      <tr>
        <td>{{ customer }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>آدرس:</td>
        <td>{{ customer.address }}</td>
      </tr>
      <tr>
        <td>کدپستی:</td>
        <td>{{ customer.postal_code }}</td>
      </tr>
      <tr>
        <td>شماره تماس:</td>
        <td>{{ customer.phone_number }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
