{% extends "shop/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "/css/user_authenticate.css" %}">
{% endblock %}

{% block title %}
  ورود به حساب کاربری | سوپرمارکت اینترنتی پلنوم
{% endblock %}

{% block content %}
  <h3>.در صورتی که حساب کاربری ندارید ابتدا <a href="{% url 'planome:user_register' %}">ثبت نام</a> کنید</h3>
  <form class="order-form" action="." method="post">
    {{ form.as_p }}
    <p id="button"><input type="submit" value="ورود"></p>
    {% csrf_token %}
  </form>
{% endblock %}
