{% extends "shop/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "/css/created.css" %}">
{% endblock %}

{% block title %}
  فاکتور خرید | سوپرمارکت اینترنتی پلنوم
{% endblock %}

{% block content %}
  <img class="basket" src="{% static "media/image/icon/full_cart.png" %}" alt="shopping basket">
  <h1>{{ customer }} عزیز از خرید شما سپاس‌گزاریم</h1>
  <h2>سفارش شما با موفقیت در سیستم ثبت گردید.</h2>
  <div id="orderId">شماره سفارش: {{ order.id }}</div>
{% endblock %}
