body {
  margin: 0;
  padding: 0;
  font-family: 'Vazir', sans-serif;
}

.desktop-version, .mobile-landscape-version {
  display: none;
}

#header {
  background-color: rgb(0,6,28);
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 11;
}

#cart a {
  text-decoration: none;
  color: #fff;
  font-size: 5vw;
  position: fixed;
  right: 5vw;
  top: -.4vh;
  float: right;
}

#cart_items {
  border: 2px solid #fff;
  position: fixed;
  right: 27vw;
  width: 4vw;
  height: 2.2vh;
  border-radius: 1vw;
  text-align: center;
  color: #fff;
  font-size: 3.5vw;
  top: 3vh;
}

#logo img {
  height: 7vh;
  width: 16vw;
  position: fixed;
  left: 42vw;
  top: 1.2vh;
}

#register {
  color: #fff;
  text-decoration: none;
  top: 2.5vh;
  left: 5vw;
  float: left;
  position: fixed;
  font-size: 5vw;
}

#subheader {
  width: 100vw;
  height: 6vh;
  background-color: #fff;
  position: fixed;
  top: 10vh;
  box-shadow: 0 0 1vw #000;
  z-index: 11;
}

#subheader p {
  color: #000;
  font-size: 5vw;
  position: fixed;
  top: 8vh;
  right: 4vw;
  font-weight: bold;
}

#search-arrow {
  color: rgb(2,88,128);
  position: fixed;
  left: 5vw;
  top: 11.5vh;
  font-size: 6vw;
}

#features {
  width: 100vw;
  height: 50vh;
}

.features-icon-list {
  color: rgb(8,128,128);
  float: right;
  font-size: 5vw;
  margin-right: 5vw;
  margin-top: 7.2vh;
  padding-left: 3vw;
  clear: right;
}

.features-text-list {
  color: rgb(6,49,66);
  font-size: 5vw;
  text-align: right;
  width: 50vw;
  float: right;
  border-right: 1vw rgb(8,128,128) solid;
  padding-right: 3vw;
  margin-top: 5vh;
}

#free-shipping {
  width: 60vw;
}

#reject-product {
  margin-top: 7vh;
}

.features-list-arrow {
  color: rgb(2,88,128);
  font-size: 6vw;
  margin-left: 8vw;
  margin-top: 2vh;
  float: left;
  margin-top: 7vh;
}

#footer {
  width: 100vw;
  height: 45vh;
  background-color: #628496;
}

.hollow {
  color: transparent;
  text-shadow: 0px 1px 1px #628496;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.social {
  font-size: 6vw;
  margin-top: 1vh;
  margin-left: 2vw;
  background-color: rgb(0,6,28);
}

hr {
  width: 80vw;
  color: #628496;
  margin-left: 1vw;
  margin-top: 1vh;
}

#footer-logo {
  width: 20vh;
  height: 15vh;
  margin-top: 5vh;
  margin-left: 5vw;
}

#footer-logotext {
  font-size: 8vw;
  margin-top: 0;
  margin-left: 4vw;
  background-color: rgb(0,6,28);
}

.footer-textlink {
  text-decoration: none;
  float: right;
  font-size: 5vw;
  margin-right: 5vw;
  background-color: rgb(0,6,28);
}

#about {
  margin-top: -27vh;
}

#privacy {
  margin-top: -20vh;
}

#faq {
  margin-top: -13vh;
}

#usage {
  margin-top: -6vh;
}

#copyleft-symbol {
  display:inline-block;
  transform: rotate(180deg);
}

#copyleft-text {
  margin-top: 2vh;
  margin-right: 35vw;
  font-size: 4vw;
}
