.order-info {
  margin-top: 270px;
  direction: rtl;
  margin-bottom: 100px;
  padding: 30px 0;
  text-align: center;
  color: rgba(6,49,66,0.8);
  font-size: 35px;
  background-color: rgba(6,49,66,0.2);
}

.order-form {
  width: 90vw;
  direction: rtl;
  height: auto;
  display: block;
  margin: auto;
}

.order-form p {
  margin-bottom: 100px;
  text-align: left;
  margin-left: 5vw;
}

.order-form p label {
  color: rgba(0,6,28, 0.7);
  margin-left: 50px;
  font-size: 35px;
}

.order-form p input {
  width: calc(90vw - 350px);
  border-radius: 10px;
  font-size: 35px;
}

#button input {
  background-color: rgb(6,49,66);
  border-radius: 10px;
  font-size: 40px;
  height: 80px;
  width: 80vw;
  color: #fff;
}
