.basket {
  height: 400px;
  display: block;
  margin: 100px auto;
  padding-top: 300px;
}

#h1 {
  color: rgb(2,88,128);
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

#h2 {
  color: rgba(2,88,128,.5);
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  direction: rtl;
}

#orderId {
  position: sticky;
  top: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  text-align: center;
  background-color: rgb(2,88,128);
  padding: 52px 0;
}
