h3 {
  color: rgb(2,88,128);
  font-size: 40px;
  text-align: center;
  margin-top: 270px;
  padding-top: 200px;
  margin-bottom: 200px;
}

h3 a {
  color: rgb(6,49,66);
  text-decoration: none;
  font-size: 45px;
  font-weight: 900;
}

.order-form {
  width: 90vw;
  direction: rtl;
  height: auto;
  display: block;
  margin: 0 auto;
}

.order-form p {
  margin-bottom: 100px;
  text-align: left;
  margin-left: 5vw;
}

.order-form p label {
  color: rgba(0,6,28, 0.7);
  margin-left: 50px;
  font-size: 35px;
}

.order-form p input {
  width: calc(90vw - 350px);
  border-radius: 10px;
  font-size: 35px;
}

#button input {
  background-color: rgb(6,49,66);
  border-radius: 10px;
  font-size: 40px;
  height: 80px;
  width: 80vw;
  color: #fff;
}
