.subcategories {
  margin-top: 270px;
  height: 100px;
  background-color: #fff;
  direction: rtl;
  z-index: 11;
  white-space: nowrap;
  overflow: auto;
  position: sticky;
  top: 270px;
}

.subcategories-list {
  width: max-content;
  display: block;
  margin-left: auto;
  margin-right: 20px;
}

.subcategories a {
  color: rgba(0,6,28,0.6);
  text-decoration: none;
  font-size: 40px;
  margin-right: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.subcategories a:last-child {
  margin-left: 40px;
}

#go-back {
  display: none;
}

.back-arrow {
  display: block;
  font-size: 40px;
  margin: 30px;
  color: rgb(6,49,66);
  text-decoration: none;
}

.back-arrow .fa-angle-left {
  font-size: 50px;
  position: relative;
  top: 8px;
}

.product_detail {
  width: 100vw;
  height: auto;
  margin-top: 50px;
}

.product_detail h1 {
  font-size: 40px;
  text-align: center;
  width: 90vw;
  display: block;
  margin: 50px auto;
}

.product_detail img {
  max-width: 80vw;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.price {
  color: rgb(8,128,128);
  text-align: center;
  font-size: 60px;
  direction: rtl;
}

.old {
  color: red;
  font-size: 40px;
  margin-top: 100px;
  text-decoration: line-through;
}

.no {
  color: red;
}

h2 {
  font-size: 4vw;
  font-weight: normal;
  text-align: right;
  direction: rtl;
  margin-right: 8vw;
}

#id_quantity {
  width: 200px;
  height: 60px;
  font-size: 40px;
  color: rgb(2,88,128);
  text-align: center;
  display: block;
  margin: 50px auto;
}

#addToCart {
  position: fixed;
  bottom: 0;
  color: #fff;
  width: 100vw;
  font-size: 50px;
  background-color: rgb(6,49,66);
  font-family: 'Vazir', sans-serif;
  padding: 52px 0;
  box-shadow: rgba(0,6,28,0.4) 0 -10px 20px;
}

#disabled {
  position: sticky;
  top: 100%;
  text-decoration: none;
  color: rgba(0, 6, 28, 0.5);
  font-size: 5vw;
  text-align: center;
  background-color: rgba(0, 6, 28, 0.3);
  padding: 52px 0;
}
