.subcategories {
  margin-top: 270px;
  height: 100px;
  background-color: #fff;
  z-index: 11;
  white-space: nowrap;
  overflow: auto;
  position: sticky;
  top: 270px;
}

.subcategories-list {
  width: max-content;
  display: block;
  margin-left: auto;
  margin-right: 20px;
}

.subcategories a {
  color: rgba(0,6,28,0.6);
  text-decoration: none;
  font-size: 40px;
  margin-right: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.product_list {
  width: 100vw;
  height: auto;
}

.item {
  width: 100vw;
  height: 400px;
  border: rgba(0,6,28,0.2) solid 1px;
}

.item img {
  max-height: 250px;
  max-width: 250px;
  display: block;
  float: right;
  margin: 75px 50px;
}

.product_link {
  text-decoration: none;
  color: rgb(0,6,28);
  font-size: 30px;
  display: block;
  position: relative;
  top: 100px;
  width: max-content;
  max-width: calc(100% - 450px);
  max-height: 100px;
  overflow: hidden;
  margin-left: auto;
  margin-right: 350px;
  direction: rtl;
}

.price {
  color: rgb(8,128,128);
  direction: rtl;
  font-size: 35px;
  position: relative;
  top: 120px;
  display: block;
  width: max-content;
  max-width: 250px;
  margin-left: auto;
  margin-right: 350px;
}

.old {
  color: red;
  text-decoration: line-through;
  margin-bottom: -80px;
}

.new {
  margin-right: 570px;
}

.no {
  color: red;
}

.fa-angle-left {
  color: rgb(2,88,128);
  margin-left: 50px;
  float: left;
  font-size: 35px;
}
